* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background: #fff;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 2%;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding-top: 40px;
}

header {
  display: flex;
  align-items:flex-end; 
  justify-content: flex-end;
  padding: 5px 5px; 
  background-color: white;
}


header img {
  width: 144px;
  height: 75.93px;
}


.navigation-menu {
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: center;
}

.nav-link {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2%;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 31.94px;
  transition: background 0.3s;
}


.nav-link:hover {
  background: #55AB25;
  color: white;
}


.icon-wrapper {
  display: flex;
  gap: 12px; 
  cursor: pointer;
  margin-bottom: 5px;
}

.icon-wrapper svg {
  width: 24px;
  height: 24px;
  top: -34.28px;
  stroke: #55AB25;
}



.hamburger {
  display: none;
}


.mobile-menu {
  display: none;
}



@media (max-width: 768px) {
  .navigation-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    background: white;
    padding: 60px 20px;
    gap: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
  }

  .mobile-menu.active {
    left: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 1100;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .icon-wrapper {
    gap: 10px;
  }

  header {
    justify-content: space-between;
    align-items: center;
  }
}
